<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
    <link rel="stylesheet" type="text/css" href="/publick/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/publick/css/bootstrap-theme.min.css"/>
    <script src="/publick/js/jquery-3.2.1.min.js"></script>
    <script src="/publick/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>{{data}}</h1>
            <p><a class="btn btn-primary btn-lg" href="{{url}}" role="button">返回首页</a></p>
        </div>
    </div>
</body>
</html>